:root {
  --white-color: white;
  --black-color: black;
  --redtone-color:#ff2fa9;
  --bluetone-color:#3a579a;
  --purpletone-color: #36244f;
  --yellowtone-color: #fffc40;;
  --coral-color: #ff8172;
  --mustard-color: #faba61;
  --violet-color: rgb(148, 24, 206);
  
}

/*UI color definition sets*/

.colorSet-seriousMood {
  --pomodoro-tc1: var(--white-color);
  --pomodoro-tc2: var(--redtone-color);
  --break-tc: var(--coral-color);
  --session-tc: var(--yellowtone-color);
  --pomodoro-bg: var(--purpletone-color);
  --button-ac: var(--redtone-color);
  }

.colorSet-passionVibes {
  --pomodoro-tc1: var(--white-color);
  --pomodoro-tc2: var(--purpletone-color);
  --break-tc: var(--mustard-color);
  --session-tc: var(--bluetone-color);
  --pomodoro-bg: var(--redtone-color);
  --button-ac: var(--purpletone-color);
  }

.colorSet-totalDark {
  --pomodoro-tc1: var(--white-color);
  --pomodoro-tc2: var(--yellowtone-color);
  --break-tc: var(--violet-color);
  --session-tc: var(--redtone-color);
  --pomodoro-bg: var(--black-color);
  --button-ac: var(--yellowtone-color);
}

#root {
  width:100%;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 6vmin !important;
}

h2 {
  font-size: 4.5vmin !important;
}

h3 {
  font-size: 3.5vmin !important;
}

button {
  padding: 0 !important;
  width: 6vmin;
  height: 6vmin;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.9vmin !important;
}

button:hover {
  background-color: var(--button-ac);
}

button:active {
  border-color: rgb(27, 209, 170);
  border-width: 0.35vmin;
}

button img {
  pointer-events: none;
}

button i {
  pointer-events: none;
}

button svg {
  pointer-events: none;
}

img {
  width: 6vmin;
}

svg {
  width: 6vmin;
  height: 6vmin;
}

.down {
  transform: rotate(180deg);
}

.iconColor {
  fill: var(--pomodoro-bg);
}

.tab {
  width: 5vmin;
  height: 5vmin;
  border-radius: 0.75vmin !important;
}

i {
  width: 100%;
  font-size: 3vmin;
  color: var(--pomodoro-bg);
}



#pomodoro {
  position:relative;
  width: 70vmin;
  height: 55vmin;
  background-color: var(--pomodoro-bg);
  border-radius: 2vmin;
  padding: 2vmin;
}

#controllers {
  width: 90%;
  padding-bottom: 1vmin;
}

.event-label {
  padding-bottom: 0.5vmin;
}

.event-length {
  font-size: 4vmin;
  font-weight: bold;
  width: 6vmin;
  line-height: 4vmin;
}

.event-buttons {
  width: 100%;
}

#timer-container {
  width: 90%;
  padding-bottom: 2vmin;
}

#timer {
  border: 0.3vmin solid white;
  border-radius: 1vmin;
  width: 60%;
  margin-top:0.5vmin;
  padding-top:1vmin;
  padding-bottom:1vmin;
}

#time-left {
  font-size: 12vmin;
  font-weight: bold;
  line-height: 12vmin;
}

#timer-label {
  margin-bottom: 0px;
  font-size: 5vmin;
}

#pomodoro-menu {
  position: absolute;
  width: 5vmin;
  height: 10vmin;
  right: 0vmin;
  top:2vmin;
}

#pomodoro-view {
  width: 100%;
}

.btn-tab {
  border-radius: 0px !important;
}

.btn-tab-start {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.btn-tab-end {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#tab-view {
  position: absolute;
  top: 2vmin;
  right: 5vmin;
  width: 50%;
  height: 65%;
  background-color: white;
  border-radius: 1.5vmin;
  border-top-right-radius: 0;
  border: 0.35vmin solid var(--button-ac);
  visibility: hidden;
  padding-top: 4vmin;
  z-index: 5;
}

.settingsTheme{
  background-color: var(--pomodoro-tc2);
  border-color: var(--pomodoro-tc2);
  border-right-color: black;
}

#features {
  padding-top: 1vmin;
}

.feature {
  padding-bottom: 1vmin;
}

.feature-text {
  padding-right: 1.5vmin;
  font-size: 3vmin !important;
}

select {
  width: 10vmin;
  height: 2vmin;
  font-size: 1.3vmin !important;
}

/*Stroke of text for centain header in UI: e.g., title and main elements*/
.stroke-thin{
  -webkit-text-stroke-width: 0.06vmin;
  -webkit-text-stroke-color: black;
}

.stroke-thick{
  -webkit-text-stroke-width: 0.1vmin;
  -webkit-text-stroke-color: black;
}

/*UI color definitions by element
* Legend:
  * tc: text color
  * bg: background
  * ac: accent
*/
.pomodoro-tc1{
  color: var(--pomodoro-tc1);
}

.pomodoro-tc2{
  color: var(--pomodoro-tc2);
}

.session-tc {
  color: var(--session-tc);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  
}

.break-tc {
  color: var(--break-tc);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.settings-title {
  color: var(--violet-color);
}

/* Responsive design definitions */

/* Restrict size of Pomodoro timer at small screen sizes */
@media (max-height: 380px) or (max-width: 380px){

  #pomodoro {
  width: 266px;
  height: 209px;
  border-radius: 7.6px;
  padding: 7.6px;
}

h1 {
  font-size: 22.8px !important;
}

h2 {
  font-size: 17.1px !important;
}

button {
  width: 22.8px;
  height: 22.8px;
  border-radius: 3.4px !important;
}

img {
  width: 22.8px;
}

#controllers {
  padding-bottom: 3.8px;
}

.event-label {
  padding-bottom: 1.9px;
}

.event-length {
  font-size: 15.2px;
  width: 22.8px;
  line-height: 15.2px;
}

#timer-container {
  padding-bottom: 7.6px;
}

#timer {
  border: 1.1px solid white;
  border-radius: 3.8px;
  margin-top:1.9px;
  padding-top:3.8px;
  padding-bottom:3.8px;
}

#time-left {
  font-size: 45.6px;
  line-height: 45.6px;
}

#timer-label {
  font-size: 19px;
}

}