#root {
  width:100%;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 6vmin !important;
}

h2 {
  font-size: 4.5vmin !important;
}

button {
  padding: 0 !important;
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.9vmin !important;
}

button:hover {
  background-color:rgb(148, 24, 206);
  /*blueviolet*/

}

button:active {
  border-color: rgb(27, 209, 170);
  border-width: 1.5px;
}

img {
  width: 5vmin;
}

#pomodoro {
  width: 70vmin;
  height: 50vmin;
  background-color: #ff2fa9;
  border-radius: 2vmin;
  padding: 1vmin;
}

#controllers {
  width: 90%;
  padding-bottom: 1vmin;
}

#break-label {
  padding-bottom: 1vmin;
}

#session-label {
  padding-bottom: 1vmin;
}

#break-length {
  font-size: 4vmin;
  font-weight: bold;
  width: 6vmin;
}

#session-length {
  font-size: 4vmin;
  font-weight: bold;
  width: 6vmin;
}

#break-buttons {
  width: 100%;
}

#session-buttons {
  width: 100%;
}

#timer-container {
  width: 90%;
  padding-bottom: 2vmin;
}

#timer {
  border: 0.3vmin solid white;
  border-radius: 1vmin;
  width: 60%;
}

#time-left {
  font-size: 10vmin;
  font-weight: bold;
}

#timer-label {
  margin-bottom: 0px;
}

/*Class colors*/
.white {
  color: white;
} 

.blue {
  color: #3a579a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  -webkit-text-stroke-width: 0.06vmin;
  -webkit-text-stroke-color: black;
}

.yellow {
  color: #fffc40;
  -webkit-text-stroke-width: 0.1vmin;
  -webkit-text-stroke-color: black;
}

.mustard {
  color: #faba61;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-text-stroke-width: 0.06vmin;
  -webkit-text-stroke-color: black;
}

.coral {
  color: #ff8172;
  -webkit-text-stroke-width: 0.05vmin;
  -webkit-text-stroke-color: black;
}

.dark-purple {
  color: #36244f;
  -webkit-text-stroke-width: 0.1vmin;
  -webkit-text-stroke-color: black;
}