#root {
  width:100%;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 6vmin !important;
}

h2 {
  font-size: 4vmin !important;
}

button {
  padding: 0 !important;
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.9vmin !important;
}

button:hover {
  background-color: blueviolet;

}

button:active {
  border-color: rgb(27, 209, 170);
  border-width: 1.5px;
}

img {
  width: 5vmin;
}

#pomodoro {
  width: 70vmin;
  height: 50vmin;
  background-color: fuchsia;
  border-radius: 2vmin;
  padding: 1vmin;
}

#controllers {
  width: 90%;
  padding-bottom: 1vmin;
}

#break-label {
  padding-bottom: 1vmin;
}

#session-label {
  padding-bottom: 1vmin;
}

#break-length {
  font-size: 3vmin;
  font-weight: bold;
  width: 6vmin;
}

#session-length {
  font-size: 3vmin;
  font-weight: bold;
  width: 6vmin;
}

#break-buttons {
  width: 100%;
}

#session-buttons {
  width: 100%;
}

.down {
  transform: rotate(180deg);
}

#timer-container {
  width: 90%;
  padding-bottom: 2vmin;
}

#timer {
  border: 0.3vmin solid white;
  border-radius: 1vmin;
  width: 60%;
}

#time-left {
  font-size: 10vmin;
  font-weight: bold;
}

#timer-label {
  margin-bottom: 0px;
}